@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mandali&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
}

.tfont {
  font-family: "Mandali", sans-serif;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fbold, header .navbar .nav-link {
  font-weight: 700;
}

.fixed-top {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.fwhite {
  color: #fff;
}

header {
  background: #fff;
}

header .navbar-brand img {
  width: 220px;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar .nav-link {
  color: #000 !important;
}

header .navbar .navBtn {
  background: #f48120;
  color: #000;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar .navBtn {
    padding-left: 15px;
  }
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  color: #f48120;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  text-transform: uppercase;
}

.orangeBtn {
  font-size: 18px;
  padding: 8px 50px;
  line-height: 1.8em;
  font-weight: normal;
  border: 2px solid #f48120;
  border-radius: 25px;
  color: #f48120;
  text-transform: uppercase;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.orangeBtn:hover {
  background: #f48120;
  color: #000;
}

.homeSlider {
  background: url(../img/banner.jpg) no-repeat 0 0;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeSlider {
    height: auto;
    padding-bottom: 30px;
  }
}

.homeSlider .swiper-slide {
  height: 100vh;
  background-size: cover;
  border-right: 10px solid #f48120;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeSlider .swiper-slide {
    border: none;
    width: 100%;
  }
}

.homeSlider article {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeSlider article {
    width: 90%;
    padding-top: 25px;
  }
}

.homeSlider article p {
  font-size: 19px;
  color: #fff;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeSlider article p {
    font-size: 16px;
  }
}

.homeSlider .swiper-pagination-bullet {
  opacity: 1;
  background: #f48120;
}

.homeSlider .swiper-pagination-bullet-active {
  background: #000;
}

.homeSlider .swiper-slide {
  background-position: center center;
}

.vspSection {
  padding: 100px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .vspSection {
    padding: 25px 0;
  }
}

.vspSection p {
  text-align: justify;
}

.vspSection .vspHeader {
  background: #f48120;
  padding: 50px 0;
  text-align: center;
}

.vspSection .vspHeader img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #fff;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  margin-bottom: 20px;
}

.careerSection {
  background: url(../img/az-subtle.png) repeat 0 0;
  padding: 100px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .careerSection {
    padding: 25px 0;
  }
}

.careerSection .careerHeading {
  border-left: 10px solid #f48120;
  padding-left: 25px;
}

.careerSection .careerArticle {
  padding: 10px 0;
}

.careerSection .careerArticle p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.listItems li {
  padding-bottom: 10px;
}

.listItems li:before {
  content: "\f005";
  font-family: "icomoon" !important;
  font-size: 16px;
  color: #f48120;
  margin-right: 10px;
}

.booksVelchala {
  padding: 100px 0;
  background: url(../img/banner.jpg) no-repeat 0 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .booksVelchala {
    padding: 25px 0;
  }
}

.booksVelchala .booksSwiper {
  margin-top: 50px;
}

.booksVelchala .booksSwiper .swiper-slide img {
  height: 330px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .booksVelchala .booksSwiper .swiper-slide {
    text-align: center;
  }
}

.booksVelchala .booksSwiper .swiper-button-next:after,
.booksVelchala .booksSwiper .swiper-container-rtl .swiper-button-prev:after {
  color: #f48120;
}

.booksVelchala .booksSwiper .swiper-button-prev:after,
.booksVelchala .booksSwiper .swiper-container-rtl .swiper-button-next:after {
  color: #f48120;
}

footer {
  background: #f48120;
  padding: 35px 0;
  text-align: center;
}

footer p {
  color: #000;
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer .socialnav .nav-link {
  width: 40px;
  height: 40px;
  background: #fff;
  margin: 0 5px;
  border-radius: 50%;
  line-height: 28px;
  padding: 6px;
}

footer .socialnav .nav-link .icomoon {
  color: #000;
}

footer .socialnav .nav-link:hover {
  background: #000;
  color: #fff;
}

footer .socialnav .nav-link:hover .icomoon {
  color: #f48120;
}

.teluguSite p {
  font-size: 21px !important;
}

.teluguSite .listItems li {
  font-size: 21px !important;
}

.teluguSite .careerArticle h2 {
  font-weight: bold;
}

.teluguSite footer p {
  font-size: 16px !important;
}

.teluguSite .orangeBtn {
  font-size: 21px;
}

.videoSection .frame {
  height: 600px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .videoSection .frame {
    height: auto;
  }
}
/*# sourceMappingURL=home.css.map */