//mixinsg

@mixin transition {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@mixin shadowbot {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}
@mixin objectfitcover {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@mixin sitefont {
  font-family: "Open Sans", sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: $fsize;
  line-height: $fsize + 12;
  letter-spacing: 0;
  font-weight: 400;
}

@mixin positionall($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin verticalcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

//mixins for devices responsive
//mobile mixin
@mixin mob {
  @media (min-width:#{$mobile-width}) and (max-width:#{$mobilelscape-width - 1}) {
    @content;
  }
}

//mobile landscape
@mixin mlscape {
  @media (min-width:#{$mobilelscape-width}) and (max-width:#{$tablet-width - 1}) {
    @content;
  }
}

//tablet mixin
@mixin tab {
  @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
    @content;
  }
}

//laptop mixin
@mixin lap {
  @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1}) {
    @content;
  }
}


//variables
//variables
$black: #000;
$white: #fff;
$orange: #f48120;
$fsize: 16px;
$gray: #1d1d1d;
$darkgray: #202023;
$lightgray: #2b2b2b;

//devices breakpoints
$mobile-width: 320px; //portrait phones, less than 576px
$mobilelscape-width: 576px; // Small devices (landscape phones, 576px and up)
$tablet-width: 768px; // Medium devices (tablets, 768px and up)
$laptop-width: 991px; // Large devices (desktops, 992px and up)
$desktop-width: 1200px; // Extra large devices (large desktops, 1200px and up)


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mandali&display=swap");

body {
  @include sitefont;
}

.tfont {
  font-family: "Mandali", sans-serif;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fbold {
  font-weight: 700;
}

.fixed-top {
  @include shadowbot;
}

.fwhite {
  color: $white;
}

header {
  background: $white;
  .navbar-brand {
    img {
      width: 220px;
    }
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .nav-link {
      color: $black !important;
      @extend .fbold;
    }
    .navBtn {
      background: $orange;
      color: $black;

      @include mob {
        padding-left: 15px;
      }
    }
  }
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  color: $orange;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  text-transform: uppercase;
}

.orangeBtn {
  font-size: 18px;
  padding: 8px 50px;
  line-height: 1.8em;
  font-weight: normal;
  border: 2px solid $orange;
  border-radius: 25px;
  color: $orange;
  text-transform: uppercase;
  @include transition;

  &:hover {
    background: $orange;
    color: $black;
  }
}

.homeSlider {
  background: url(../img/banner.jpg) no-repeat 0 0;
  background-size: cover;
  height: 100vh;

  @include mob {
    height: auto;
    padding-bottom: 30px;
  }
  .swiper-slide {
    height: 100vh;
    background-size: cover;
    border-right: 10px solid $orange;

    @include mob {
      border: none;
      width: 100%;
    }
  }
  article {
    width: 75%;
    text-align: center;
    margin: 0 auto;

    @include mob {
      width: 90%;
      padding-top: 25px;
    }
    p {
      font-size: $fsize + 3;
      color: $white;
      font-weight: 300;
      line-height: 30px;
      padding-bottom: 15px;

      @include mob {
        font-size: $fsize;
      }
    }
  }
  .swiper-pagination-bullet {
    opacity: 1;
    background: $orange;
  }
  .swiper-pagination-bullet-active {
    background: $black;
  }

  .swiper-slide {
    background-position: center center;
  }
}

.vspSection {
  padding: 100px 0;

  @include mob {
    padding: 25px 0;
  }

  p {
    text-align: justify;
  }

  .vspHeader {
    background: $orange;
    padding: 50px 0;
    text-align: center;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 10px solid $white;
      @include objectfitcover;
      margin-bottom: 20px;
    }
  }
}

.careerSection {
  background: url(../img/az-subtle.png) repeat 0 0;
  padding: 100px 0;

  @include mob {
    padding: 25px 0;
  }
  .careerHeading {
    border-left: 10px solid $orange;
    padding-left: 25px;
  }
  .careerArticle {
    padding: 10px 0;
    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.listItems {
  li {
    padding-bottom: 10px;
    &:before {
      content: "\f005";
      font-family: "icomoon" !important;
      font-size: $fsize;
      color: $orange;
      margin-right: 10px;
    }
  }
}

.booksVelchala {
  padding: 100px 0;
  background: url(../img/banner.jpg) no-repeat 0 0;

  @include mob {
    padding: 25px 0;
  }
  .booksSwiper {
    margin-top: 50px;

    .swiper-slide {
      img {
        height: 330px;
        @include objectfitcover;
        width: 100%;
      }

      @include mob {
        text-align: center;
      }
    }

    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
      color: $orange;
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
      color: $orange;
    }
  }
}

footer {
  background: $orange;
  padding: 35px 0;
  text-align: center;

  p {
    color: $black;
    font-size: $fsize - 2;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .socialnav {
    .nav-link {
      width: 40px;
      height: 40px;
      background: $white;
      margin: 0 5px;
      border-radius: 50%;
      line-height: 28px;
      padding: 6px;

      .icomoon {
        color: $black;
      }

      &:hover {
        background: $black;
        color: $white;

        .icomoon {
          color: $orange;
        }
      }
    }
  }
}

.teluguSite {
  p {
    font-size: $fsize + 5 !important;
  }
  .listItems {
    li {
      font-size: $fsize + 5 !important;
    }
  }
  .careerArticle {
    h2 {
      font-weight: bold;
    }
  }
  footer {
    p {
      font-size: $fsize !important;
    }
  }
  .orangeBtn {
    font-size: $fsize + 5;
  }
}

.videoSection {
  .frame {
    height: 600px;

    @include mob {
      height: auto;
    }
  }
}
