@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  @include sitefont;
}

figure {
  margin: 0;
}

.fsbold {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.fbold {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.fgreen {
  color: green !important;
}

.fblue {
  color: $blue;
}

.forange {
  color: $orange;
}

.fgray {
  color: $gray;
}

.lgray {
  color: lighten($gray, 25%);
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blue-btn {
  background: $blue;
  padding: 6px 30px;
  border-radius: 25px;
  color: $white;
  font-size: $fsize;
  display: inline-block;
  @include transition;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    background: $white;
    color: $blue;
    padding: 6px 30px;
    border: 1px solid $blue;
  }
}

input[type="submit"] {
  &:focus {
    outline: none;
  }
}

.orange-btn {
  background: $orange;
  padding: 6px 30px;
  border-radius: 25px;
  color: $white;
  font-size: $fsize;
  display: inline-block;
  @include transition;
  border: 1px solid transparent;
  cursor: pointer;

  @include mob {
    padding: 6px 20px;
  }

  &:hover {
    background: $white;
    color: $orange;
    padding: 6px 30px;
    border: 1px solid $orange;

    @include mob {
      padding: 6px 20px;
    }
  }
  &:focus {
    outline: none;
  }
}

.form-group {
  label {
    font-size: $fsize - 1;
    padding-bottom: 0;
    margin: 0;
  }
  .form-control {
    border-radius: 0;
    font-size: $fsize;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

header {
  .navbar {
    border-bottom: 1px solid lighten($lightgray, 50%);

    .active {
      color: $orange !important;
      padding: 20px 15px;
      display: block;
      position: relative;
       @extend .fsbold;

      @include mob {
        padding: 0;
        font-weight: 600;
      }

      i {
        border-top-color: $orange;
      }
    }

    .nav-link {
      @extend .fsbold;
    }

    .dropdown {
      .navbar-nav {
        @include shadowbot;

        .nav-link {
          &:hover {
            background: $orange;
            color: $black !important;
          }
        }
      }
    }
  }

  .activesubnav {
    background: $orange;
    color: $black !important;
    display: block;
    padding: 10px;
  }
  .navbar-brand {
    img {
      width: 250px;
    }
  }
  .cart-link {
    position: relative;
    margin: 0 10px;

    .icomoon {
      font-size: $fsize + 8;
      position: relative;
    }
    .value {
      background: $blue;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 11px;
      right: 0;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      line-height: 22px;
      color: $white;
      font-size: $fsize - 4;
      @extend .fbold;

      @include mob {
        right: -25px;
      }
      @include mlscape {
        right: -25px;
      }
      @include tab {
        right: -25px;
      }
    }
  }
  .nav-link {
    &:hover {
      color: $orange !important;
    }
  }
}

.subPage {
  min-height: 800px;

  .subPageHeader {
    background: lighten($orange, 30%);
    min-height: 200px;
    padding: 110px 0 15px 0;

    h1 {
      font-size: $fsize * 2;
      @extend .fbold;
    }
    nav {
      .breadcrumb {
        background: none;
        padding-left: 0;
        padding-top: 0;
        .breadcrumb-item {
          color: $black;
          &:before {
            color: $black;
          }
          a {
            color: $black;
            font-size: $fsize - 2;
          }
        }
        .active {
          color: $black;

          span {
            border-bottom: 1px solid $black;
            font-size: $fsize - 2;
            @extend .fbold;
          }
        }
      }
    }
  }
}

.subPageBody {
  .sortSection {
    border-bottom: 1px solid lighten($lightgray, 50%);
    padding: 10px 0;

    .form-group {
      width: 200px;

      @include mob {
        width: 120px;
      }
    }
  }

  //book item
  .book-item {
    margin-bottom: 15px;

    img {
      width: 100%;
      @include transition;
      height: 380px;
      @include objectfitcover;

      @include mlscape {
        height: 230px;
      }
      @include mob {
        height: 240px;
      }
      @include tab {
        height: 310px;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    article {
      text-align: center;
      @include transition;
      padding: 14px 10px;

      @include mob {
        padding: 4px;
      }
      a {
        color: $black;
        font-size: $fsize;
        @extend .fsbold;

        @include mob {
          font-size: $fsize - 2;
          line-height: 16px;
        }

        &:hover {
          color: $blue;
        }
      }
    }

    //hover
    &:hover {
      article {
        background: $white;
        @include shadowbot;
      }
      figure.bookcover {
        img {
          transform: scale(1.02, 1.02);
          filter: grayscale(0.5);
        }
      }
    }
  }
  //book item close
}

footer {
  background: $blue;
  padding: 30px 0;
  position: relative;

  .nav {
    margin-bottom: 20px;
    .nav-link {
      color: $white;
      @include transition;
      font-size: $fsize - 2;

      &:hover {
        color: $orange;
      }
    }

    .activeFooterNav {
      color: $orange;
      padding: 0.5rem 1rem;
      display: block;
    }
  }
  p {
    color: $white;
    padding-bottom: 0;
    font-size: $fsize - 2;
  }
  .socialnav {
    margin-bottom: 15px;
    .nav-link {
      width: 40px;
      height: 40px;
      background: $white;
      margin: 0 5px;
      border-radius: 50%;
      line-height: 28px;
      @include verticalcenter;

      &:hover {
        background: $orange;

        .icomoon {
          color: $white;
        }
      }

      .icomoon {
        color: $black;
        font-size: $fsize + 2;
      }
    }
  }

  .movetop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 53px;
    display: none;
    background: $orange;
    z-index: 999;
    @include transition;

    &:hover {
      background: $blue;
    }

    .icomoon {
      font-size: $fsize + 6;
      color: $white;
    }
  }
}

.book-top-detail {
  margin-top: -50px;

  .figure-detail {
    margin: 0;
    text-align: center;

    img {
      border: 1px solid lighten($black, 90%);

      @include mob {
        padding: 0;
        border: none;
      }
    }
  }
  .book-detail-rt {
    .orange-btn {
      @include mob {
        margin-top: 10px;
      }
    }
    .price {
      .offer {
        font-size: $fsize + 5 !important;

        &:before {
          font-size: $fsize + 5 !important;
        }
      }
    }
    .basic-description {
      color: $gray;
      line-height: 25px;
    }
    .book-specs {
      padding: 20px 0;

      .speccol {
        dl {
          margin: 0;
          padding: 7px 0;
          dt {
            font-size: $fsize;
            @extend .fsbold;
            line-height: 16px;
          }
          dd {
            font-size: $fsize - 2;
            color: $gray;
            margin: 0;
          }
        }
      }
    }
    .qty {
      width: 60px;
    }
  }
}

.price {
  margin: 0;
  padding: 0;
  .offer {
    font-size: $fsize + 2;
    color: $orange;
    @extend .fsbold;
    margin-right: 10px;
    display: inline-block;

    &:before {
      content: "\f156";
      font-family: "icomoon" !important;
      color: $orange;
      font-size: $fsize + 2;
      position: relative;
      top: 2px;
      left: -2px;
    }
  }
  .oldprice {
    font-size: $fsize - 2;
    color: lighten($black, 50%);
    text-decoration: line-through;

    &:before {
      content: "\f156";
      font-family: "icomoon" !important;
      color: lighten($black, 50%);
      font-size: $fsize - 2;
      position: relative;
      top: 1px;
      left: -2px;
    }
  }
}

.social-share {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;

  .span-share {
    @include mob {
      width: 100%;
    }
  }
  .sharesocial {
    width: 27px;
    height: 27px;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
    @include transition;

    .icomoon {
      font-size: $fsize * 2 + 6;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  .icon-facebook-square {
    color: #3b5998;
  }
  .icon-twitter-square {
    color: #03a9f4;
  }
  .icon-linkedin-square {
    color: #0077b5;
  }
  .icon-instagram {
    color: #c13584;
  }
  .icon-whatsapp {
    color: #4ac959;
  }
  .icon-pinterest-square {
    color: #bd081c;
  }
}

.alert {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  width: 500px;
  @include shadowbot;

  @include mob {
    right: inherit;
    width: 95%;
  }
}

.custom-tab {
  margin: 35px 0;
  .resp-tabs-list {
    li {
      background: #eee;
      text-transform: uppercase;
    }
  }
  .resp-tab-content {
    border: none;
    background: $white;
    @include shadowbot;
    padding: 40px;
    min-height: 350px;

    @include mob {
      padding: 12px;
    }

    p {
      padding-bottom: 20px;
    }
  }
  .resp-tab-active {
    border: none !important;
    background: $blue !important;
    color: $white;
  }
}

.login-page {
  @include verticalcenter;
  height: 100vh;
}

.login-section {
  width: 380px;
  height: auto;
  margin: 0 auto;
  background: $white;
  padding: 20px;
  @include shadowbot;

  .login-section {
    .form-group {
      margin-bottom: 10px !important;
    }
  }

  @include mob {
    width: 98%;
    margin: 15% auto;
  }
  @include tab {
    width: 98%;
    margin: 15% auto;
  }

  .login-top {
    .brand-login {
      width: 177px;
      margin-bottom: 15px;
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    h1 {
      font-size: $fsize + 5;
      padding: 12px 0;
    }
    p {
      font-size: $fsize - 1;
      line-height: 22px;
    }
  }
}

.albumitem {
  .bookcover {
    height: 250px;
    position: relative;
    margin: 0;

    img {
      min-height: 250px;
      max-height: 250px;
    }
  }
  article {
    text-align: left;

    .h5 {
      a {
        font-size: $fsize + 2;

        &:hover {
          color: $blue;
        }
      }
    }
    .icomoon {
      color: $blue;
    }
  }
  .photosnumber {
    background: $blue;
    border-radius: 0;
    color: $white;
    padding: 7px;
    @include positionall(0, inherit, inherit, 0);
    font-weight: 400;
  }
}

.video-col {
  margin-bottom: 15px;
  @include transition;

  p {
    @include transition;
    padding: 5px 10px;
    margin-top: -10px;
  }

  &:hover {
    p {
      background: $white;
      @include shadowbot;
    }
  }

  iframe {
    height: 200px;
  }

  p {
    font-size: $fsize -2;
    line-height: 24px;
  }
}

.blogcard {
  margin-bottom: 25px;
  min-height: 390px;

  img {
    min-height: 220px;
    max-height: 220px;
    @include objectfitcover;
  }
}

.articlecard {
  margin: 15px 0;
  min-height: 275px;

  p {
    padding-bottom: 20px;
  }
  .card-header {
    font-size: $fsize + 5;
    @extend .fsbold;
    position: relative;

    .badge {
      @include positionall(0, 0, inherit, inherit);
    }
  }
}

.card {
  @include shadowbot;
  border: none;
}

.blog-detail {
  margin: 25px 0;
  p {
    padding-bottom: 15px;
  }
  h1 {
    padding-bottom: 10px;

    @include mob {
      font-size: $fsize + 10;
    }
  }
  .resp-tab-content {
    box-shadow: none;
    border: 1px solid #eee;
  }
}

.small {
  font-size: $fsize - 2 !important;
}

.contact-col {
  .icon-col {
    position: relative;
    margin-bottom: 40px;
    &:before {
      content: "";
      width: 50px;
      height: 2px;
      background: $blue;
      @include positionall(inherit, inherit, -25px, 50%);
      margin-left: -25px;
    }
    .icomoon {
      font-size: $fsize * 4;
      color: $blue;
    }
  }
}

.termspage {
  p {
    padding-bottom: 20px;
    text-align: justify;
  }
}

.cartlist-itemrow {
  border-bottom: 1px solid lightgray;
  padding: 20px 0;

  input[type="number"] {
    width: 50px;
    text-align: center;
  }
  .cartimteimg {
    width: 30%;
    margin-right: 15px;
  }
  .cart-item-details {
    p {
      font-size: $fsize - 1;
    }
  }
}

.cartcard {
  .bggray {
    background: lightgray;
  }
}

.table-headerrow {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 12px 0;

  @include mob {
    display: none;
  }
  @include mlscape {
    display: none;
  }
}

.price-single {
  display: inline-block;

  &:before {
    content: "\f156";
    font-family: "icomoon" !important;
    font-size: $fsize;
    position: relative;
    top: 2px;
    left: -2px;
  }
}

.address-item {
  @include mob {
    .form-check {
      padding-left: 0;
      top: -16px;

      @include mob {
        top: 0;
      }
    }
  }
}

.address-item {
  @include transition;
  padding: 15px;
  &:hover {
    background: lighten($black, 95%);

    .editicon {
      display: block;
    }
    .btn-deliver {
      display: inline-block;
    }
  }
  p {
    line-height: 23px;
    font-size: $fsize - 1;
    color: lighten($black, 50%);
  }
  .btn-deliver,
  .editicon {
    display: none;
    @include transition;
  }
}

.checkout-row {
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.payment-success {
  padding-top: 20%;

  @include mob {
    padding-top: 40%;
  }
}

//user profile
.userprofile-row {
  .user-leftNav {
    ul {
      li {
        a.userNavLink {
          font-size: $fsize -1;
          color: $black;
          padding: 10px 25px;
          display: block;
          @include transition;

          &:hover {
            background: $blue;
            color: $white;
          }
        }
      }
    }
  }

  .activeuserNav {
    background: $blue;
    color: $white !important;
    padding: 10px 25px;
    display: block;
  }

  .user-profile-rt {
    border: 1px solid #ccc;
    min-height: 700px;
    background: $white;
    padding: 25px 25px 0 25px;

    .profile-title {
      border-bottom: 1px solid lighten($black, 65%);
      padding-bottom: 15px;

      .h3 {
        font-size: $fsize + 7;
      }
    }

    a {
      color: $black;
      @include transition;

      &:hover {
        color: $orange;
      }
    }

    .figure-user {
      width: 145px;
      margin: 0 auto;

      img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 5px solid $white;
        @include shadowbot;
        @include objectfitcover;
      }
      .edit-pic {
        @include positionall(inherit, inherit, 15px, 45%);
        width: 25px;
        height: 25px;
        background: $white;
        border-radius: 50%;
        @include shadowbot;
        text-align: center;
        padding: 3px;
        line-height: 25px;

        .icomoon {
          font-size: $fsize;
          color: $black;
        }
      }
    }

    //myorder list item
    .myorder-list-item {
      padding: 25px 0;
      border-bottom: 1px solid lighten($black, 80%);
      margin-bottom: 15px;

      .basic-details-col {
        .h5 {
          font-size: $fsize;
          @extend .fsbold;
        }
        p {
          font-size: $fsize - 1;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.contributors {
  table {
    width: 100%;
    padding: 0;
    margin: 0;
    tr {
      &:nth-child(odd) {
        background: #eee;
      }
      td {
        padding: 12px;
      }
    }
  }
}
