@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
}

figure {
  margin: 0;
}

.fsbold, header .navbar .active, header .navbar .nav-link, .subPageBody .book-item article a, .book-top-detail .book-detail-rt .book-specs .speccol dl dt, .price .offer, .articlecard .card-header, .userprofile-row .user-profile-rt .myorder-list-item .basic-details-col .h5 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.fbold, header .cart-link .value, .subPage .subPageHeader h1, .subPage .subPageHeader nav .breadcrumb .active span {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.fgreen {
  color: green !important;
}

.fblue {
  color: #00539b;
}

.forange {
  color: #f68338;
}

.fgray {
  color: #1d1d1d;
}

.lgray {
  color: #5d5d5d;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blue-btn {
  background: #00539b;
  padding: 6px 30px;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

.blue-btn:hover {
  background: #fff;
  color: #00539b;
  padding: 6px 30px;
  border: 1px solid #00539b;
}

input[type="submit"]:focus {
  outline: none;
}

.orange-btn {
  background: #f68338;
  padding: 6px 30px;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 575px) {
  .orange-btn {
    padding: 6px 20px;
  }
}

.orange-btn:hover {
  background: #fff;
  color: #f68338;
  padding: 6px 30px;
  border: 1px solid #f68338;
}

@media (min-width: 320px) and (max-width: 575px) {
  .orange-btn:hover {
    padding: 6px 20px;
  }
}

.orange-btn:focus {
  outline: none;
}

.form-group label {
  font-size: 14px;
  padding-bottom: 0;
  margin: 0;
}

.form-group .form-control {
  border-radius: 0;
  font-size: 15px;
}

.form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

header .navbar {
  border-bottom: 1px solid #ababab;
}

header .navbar .active {
  color: #f68338 !important;
  padding: 20px 15px;
  display: block;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar .active {
    padding: 0;
    font-weight: 600;
  }
}

header .navbar .active i {
  border-top-color: #f68338;
}

header .navbar .dropdown .navbar-nav {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

header .navbar .dropdown .navbar-nav .nav-link:hover {
  background: #f68338;
  color: #000 !important;
}

header .activesubnav {
  background: #f68338;
  color: #000 !important;
  display: block;
  padding: 10px;
}

header .navbar-brand img {
  width: 250px;
}

header .cart-link {
  position: relative;
  margin: 0 10px;
}

header .cart-link .icomoon {
  font-size: 23px;
  position: relative;
}

header .cart-link .value {
  background: #00539b;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 11px;
  right: 0;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  line-height: 22px;
  color: #fff;
  font-size: 11px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .cart-link .value {
    right: -25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .cart-link .value {
    right: -25px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  header .cart-link .value {
    right: -25px;
  }
}

header .nav-link:hover {
  color: #f68338 !important;
}

.subPage {
  min-height: 800px;
}

.subPage .subPageHeader {
  background: #fddeca;
  min-height: 200px;
  padding: 110px 0 15px 0;
}

.subPage .subPageHeader h1 {
  font-size: 30px;
}

.subPage .subPageHeader nav .breadcrumb {
  background: none;
  padding-left: 0;
  padding-top: 0;
}

.subPage .subPageHeader nav .breadcrumb .breadcrumb-item {
  color: #000;
}

.subPage .subPageHeader nav .breadcrumb .breadcrumb-item:before {
  color: #000;
}

.subPage .subPageHeader nav .breadcrumb .breadcrumb-item a {
  color: #000;
  font-size: 13px;
}

.subPage .subPageHeader nav .breadcrumb .active {
  color: #000;
}

.subPage .subPageHeader nav .breadcrumb .active span {
  border-bottom: 1px solid #000;
  font-size: 13px;
}

.subPageBody .sortSection {
  border-bottom: 1px solid #ababab;
  padding: 10px 0;
}

.subPageBody .sortSection .form-group {
  width: 200px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPageBody .sortSection .form-group {
    width: 120px;
  }
}

.subPageBody .book-item {
  margin-bottom: 15px;
}

.subPageBody .book-item img {
  width: 100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  height: 380px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@media (min-width: 576px) and (max-width: 767px) {
  .subPageBody .book-item img {
    height: 230px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPageBody .book-item img {
    height: 240px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .subPageBody .book-item img {
    height: 310px;
  }
}

.subPageBody .book-item img:hover {
  opacity: 0.6;
}

.subPageBody .book-item article {
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 14px 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPageBody .book-item article {
    padding: 4px;
  }
}

.subPageBody .book-item article a {
  color: #000;
  font-size: 15px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subPageBody .book-item article a {
    font-size: 13px;
    line-height: 16px;
  }
}

.subPageBody .book-item article a:hover {
  color: #00539b;
}

.subPageBody .book-item:hover article {
  background: #fff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.subPageBody .book-item:hover figure.bookcover img {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

footer {
  background: #00539b;
  padding: 30px 0;
  position: relative;
}

footer .nav {
  margin-bottom: 20px;
}

footer .nav .nav-link {
  color: #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  font-size: 13px;
}

footer .nav .nav-link:hover {
  color: #f68338;
}

footer .nav .activeFooterNav {
  color: #f68338;
  padding: 0.5rem 1rem;
  display: block;
}

footer p {
  color: #fff;
  padding-bottom: 0;
  font-size: 13px;
}

footer .socialnav {
  margin-bottom: 15px;
}

footer .socialnav .nav-link {
  width: 40px;
  height: 40px;
  background: #fff;
  margin: 0 5px;
  border-radius: 50%;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .socialnav .nav-link:hover {
  background: #f68338;
}

footer .socialnav .nav-link:hover .icomoon {
  color: #fff;
}

footer .socialnav .nav-link .icomoon {
  color: #000;
  font-size: 17px;
}

footer .movetop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 53px;
  display: none;
  background: #f68338;
  z-index: 999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

footer .movetop:hover {
  background: #00539b;
}

footer .movetop .icomoon {
  font-size: 21px;
  color: #fff;
}

.book-top-detail {
  margin-top: -50px;
}

.book-top-detail .figure-detail {
  margin: 0;
  text-align: center;
}

.book-top-detail .figure-detail img {
  border: 1px solid #e6e6e6;
}

@media (min-width: 320px) and (max-width: 575px) {
  .book-top-detail .figure-detail img {
    padding: 0;
    border: none;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .book-top-detail .book-detail-rt .orange-btn {
    margin-top: 10px;
  }
}

.book-top-detail .book-detail-rt .price .offer {
  font-size: 20px !important;
}

.book-top-detail .book-detail-rt .price .offer:before {
  font-size: 20px !important;
}

.book-top-detail .book-detail-rt .basic-description {
  color: #1d1d1d;
  line-height: 25px;
}

.book-top-detail .book-detail-rt .book-specs {
  padding: 20px 0;
}

.book-top-detail .book-detail-rt .book-specs .speccol dl {
  margin: 0;
  padding: 7px 0;
}

.book-top-detail .book-detail-rt .book-specs .speccol dl dt {
  font-size: 15px;
  line-height: 16px;
}

.book-top-detail .book-detail-rt .book-specs .speccol dl dd {
  font-size: 13px;
  color: #1d1d1d;
  margin: 0;
}

.book-top-detail .book-detail-rt .qty {
  width: 60px;
}

.price {
  margin: 0;
  padding: 0;
}

.price .offer {
  font-size: 17px;
  color: #f68338;
  margin-right: 10px;
  display: inline-block;
}

.price .offer:before {
  content: "\f156";
  font-family: "icomoon" !important;
  color: #f68338;
  font-size: 17px;
  position: relative;
  top: 2px;
  left: -2px;
}

.price .oldprice {
  font-size: 13px;
  color: gray;
  text-decoration: line-through;
}

.price .oldprice:before {
  content: "\f156";
  font-family: "icomoon" !important;
  color: gray;
  font-size: 13px;
  position: relative;
  top: 1px;
  left: -2px;
}

.social-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .social-share .span-share {
    width: 100%;
  }
}

.social-share .sharesocial {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.social-share .sharesocial .icomoon {
  font-size: 36px;
}

.social-share .sharesocial:hover {
  opacity: 0.6;
}

.social-share .icon-facebook-square {
  color: #3b5998;
}

.social-share .icon-twitter-square {
  color: #03a9f4;
}

.social-share .icon-linkedin-square {
  color: #0077b5;
}

.social-share .icon-instagram {
  color: #c13584;
}

.social-share .icon-whatsapp {
  color: #4ac959;
}

.social-share .icon-pinterest-square {
  color: #bd081c;
}

.alert {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  width: 500px;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

@media (min-width: 320px) and (max-width: 575px) {
  .alert {
    right: inherit;
    width: 95%;
  }
}

.custom-tab {
  margin: 35px 0;
}

.custom-tab .resp-tabs-list li {
  background: #eee;
  text-transform: uppercase;
}

.custom-tab .resp-tab-content {
  border: none;
  background: #fff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  padding: 40px;
  min-height: 350px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .custom-tab .resp-tab-content {
    padding: 12px;
  }
}

.custom-tab .resp-tab-content p {
  padding-bottom: 20px;
}

.custom-tab .resp-tab-active {
  border: none !important;
  background: #00539b !important;
  color: #fff;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.login-section {
  width: 380px;
  height: auto;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.login-section .login-section .form-group {
  margin-bottom: 10px !important;
}

@media (min-width: 320px) and (max-width: 575px) {
  .login-section {
    width: 98%;
    margin: 15% auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .login-section {
    width: 98%;
    margin: 15% auto;
  }
}

.login-section .login-top .brand-login {
  width: 177px;
  margin-bottom: 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.login-section .login-top h1 {
  font-size: 20px;
  padding: 12px 0;
}

.login-section .login-top p {
  font-size: 14px;
  line-height: 22px;
}

.albumitem .bookcover {
  height: 250px;
  position: relative;
  margin: 0;
}

.albumitem .bookcover img {
  min-height: 250px;
  max-height: 250px;
}

.albumitem article {
  text-align: left;
}

.albumitem article .h5 a {
  font-size: 17px;
}

.albumitem article .h5 a:hover {
  color: #00539b;
}

.albumitem article .icomoon {
  color: #00539b;
}

.albumitem .photosnumber {
  background: #00539b;
  border-radius: 0;
  color: #fff;
  padding: 7px;
  position: absolute;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
  font-weight: 400;
}

.video-col {
  margin-bottom: 15px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.video-col p {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 5px 10px;
  margin-top: -10px;
}

.video-col:hover p {
  background: #fff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
}

.video-col iframe {
  height: 200px;
}

.video-col p {
  font-size: 15px -2;
  line-height: 24px;
}

.blogcard {
  margin-bottom: 25px;
  min-height: 390px;
}

.blogcard img {
  min-height: 220px;
  max-height: 220px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

.articlecard {
  margin: 15px 0;
  min-height: 275px;
}

.articlecard p {
  padding-bottom: 20px;
}

.articlecard .card-header {
  font-size: 20px;
  position: relative;
}

.articlecard .card-header .badge {
  position: absolute;
  top: 0;
  right: 0;
  bottom: inherit;
  left: inherit;
}

.card {
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  border: none;
}

.blog-detail {
  margin: 25px 0;
}

.blog-detail p {
  padding-bottom: 15px;
}

.blog-detail h1 {
  padding-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .blog-detail h1 {
    font-size: 25px;
  }
}

.blog-detail .resp-tab-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #eee;
}

.small {
  font-size: 13px !important;
}

.contact-col .icon-col {
  position: relative;
  margin-bottom: 40px;
}

.contact-col .icon-col:before {
  content: "";
  width: 50px;
  height: 2px;
  background: #00539b;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
}

.contact-col .icon-col .icomoon {
  font-size: 60px;
  color: #00539b;
}

.termspage p {
  padding-bottom: 20px;
  text-align: justify;
}

.cartlist-itemrow {
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
}

.cartlist-itemrow input[type="number"] {
  width: 50px;
  text-align: center;
}

.cartlist-itemrow .cartimteimg {
  width: 30%;
  margin-right: 15px;
}

.cartlist-itemrow .cart-item-details p {
  font-size: 14px;
}

.cartcard .bggray {
  background: lightgray;
}

.table-headerrow {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 12px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .table-headerrow {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .table-headerrow {
    display: none;
  }
}

.price-single {
  display: inline-block;
}

.price-single:before {
  content: "\f156";
  font-family: "icomoon" !important;
  font-size: 15px;
  position: relative;
  top: 2px;
  left: -2px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .address-item .form-check {
    padding-left: 0;
    top: -16px;
  }
}

@media (min-width: 320px) and (max-width: 575px) and (min-width: 320px) and (max-width: 575px) {
  .address-item .form-check {
    top: 0;
  }
}

.address-item {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 15px;
}

.address-item:hover {
  background: #f2f2f2;
}

.address-item:hover .editicon {
  display: block;
}

.address-item:hover .btn-deliver {
  display: inline-block;
}

.address-item p {
  line-height: 23px;
  font-size: 14px;
  color: gray;
}

.address-item .btn-deliver,
.address-item .editicon {
  display: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.checkout-row {
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.payment-success {
  padding-top: 20%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .payment-success {
    padding-top: 40%;
  }
}

.userprofile-row .user-leftNav ul li a.userNavLink {
  font-size: 15px -1;
  color: #000;
  padding: 10px 25px;
  display: block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.userprofile-row .user-leftNav ul li a.userNavLink:hover {
  background: #00539b;
  color: #fff;
}

.userprofile-row .activeuserNav {
  background: #00539b;
  color: #fff !important;
  padding: 10px 25px;
  display: block;
}

.userprofile-row .user-profile-rt {
  border: 1px solid #ccc;
  min-height: 700px;
  background: #fff;
  padding: 25px 25px 0 25px;
}

.userprofile-row .user-profile-rt .profile-title {
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 15px;
}

.userprofile-row .user-profile-rt .profile-title .h3 {
  font-size: 22px;
}

.userprofile-row .user-profile-rt a {
  color: #000;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.userprofile-row .user-profile-rt a:hover {
  color: #f68338;
}

.userprofile-row .user-profile-rt .figure-user {
  width: 145px;
  margin: 0 auto;
}

.userprofile-row .user-profile-rt .figure-user img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

.userprofile-row .user-profile-rt .figure-user .edit-pic {
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: 15px;
  left: 45%;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px #C4C4C4;
  -moz-box-shadow: 0 2px 4px #C4C4C4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #C4C4C4;
  -o-box-shadow: 0 2px 4px #C4C4C4;
  text-align: center;
  padding: 3px;
  line-height: 25px;
}

.userprofile-row .user-profile-rt .figure-user .edit-pic .icomoon {
  font-size: 15px;
  color: #000;
}

.userprofile-row .user-profile-rt .myorder-list-item {
  padding: 25px 0;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}

.userprofile-row .user-profile-rt .myorder-list-item .basic-details-col .h5 {
  font-size: 15px;
}

.userprofile-row .user-profile-rt .myorder-list-item .basic-details-col p {
  font-size: 14px;
}

.userprofile-row .user-profile-rt .myorder-list-item:last-child {
  border-bottom: none;
}

.contributors table {
  width: 100%;
  padding: 0;
  margin: 0;
}

.contributors table tr:nth-child(odd) {
  background: #eee;
}

.contributors table tr td {
  padding: 12px;
}
/*# sourceMappingURL=style.css.map */